    body {
        background-color:fuchsia;
    }

h1, h2, h3, h4 {
                    color: rgb(22, 3, 3);
                    background-color: burlywood;
                    font-size: 30px;
                }
                h1 {
                    color:darkmagenta;
                }
                        
                .important{
                    color:blueviolet;
                    background-color: aquamarine;
                }
                .uppercase{
                    text-transform: uppercase ;
                    color:rgb(41, 11, 193);
                    background-color: rgb(89, 89, 93);
                }
                
                #the-one{
                    color:crimson; background-color:darkgreen; 
                }
                #JR{
                    text-transform: uppercase;
                    background-color: aqua;
                }